            <p>I'm just getting started with web development, so please bear with me while I figure this out.  If anything works strangely or looks weird, let me know.</p>
            <hr>
            <p>My wife, Carrie, got me this domain and hosting services for my birthday (what a great wife!).  As I get my feet under me, what do you, loyal reader, have to look forward to?</p>
            <ul>
              <li>My thoughts on software development and testing.</li>
              <li>A look into the various side-projects and hobbies I'm pursuing.</li>
              <li>Whatever Carrie decides to post.</li>
              <li>Dog pictures!</li>
            </ul>
            <p>I'm hoping this page motivates me to do more by posting progress on my projects.  While I don't have any mechanism for contacting me through this website (yet...), if you're reading this, you probably know how to contact me anyway.  Feedback is appreciated.  Thanks, and stay tuned...</p>