            <p>It's been a bit crazy around here recently.  Not only is it all of the annual Christmas frenzy, but we've been dogsitting for some friends too.  Needless to say, I haven't been keeping up with my posts as well as I want, but I have managed to start a new project: <a href="https://bitbucket.org/dkettles/validator">Validator</a>.  This project serves many purposes:
            <ul>
              <li>Teaching me about <a href="http://docs.oracle.com/javase/tutorial/reflect/">Java Reflection</a></li>
              <li>Acquianting me with all of the slick Bitbucket features like issue tracking et al.</li>
              <li>Keeping my coding skills up since I don't code much at work these days</li>
              <li>Has an actual use case for establishing guarantees between objects in large (especially legacy) codebases that get hard to reason about.</li>
            </ul>
            </p>

            <p>I'm not going to talk about what the code actually does; you can read all about it on the project site.  I'm learning tons about <a href="https://en.wikipedia.org/wiki/Reflection_(computer_programming)">reflection</a>, <a href="https://en.wikipedia.org/wiki/Type_erasure">type erasure</a>, and more.  I'm aggregating my experiences for a future post where I hope to talk about some of the more interesting lessons learned.</p>

            <p>Actually, I've got even more fun projects in my queue after Christmas.  I got a big piece of the sous vide, I bought my wife <a href="https://mitpress.mit.edu/books/little-schemer">The Little Schemer</a> (which I'll steal and work through), and I even got the first three volumes of Knuth's <a href="https://en.wikipedia.org/wiki/The_Art_of_Computer_Programming">The Art of Computer Programming</a>.  That's plenty of work: TAOCP itself might take years to get through!  It'll be great.  Not so great is actually finishing this site, but I'd better get around to it if I'm going to keep this content organized.  If you know web programming, just know that <a href="https://bitbucket.org/dkettles/kettlesoft">pull requests</a> for this site are welcome!
            </p>

            <p>Anyways, happy holidays!  I hope you're starting your own fun projects.</p>