<p>Shazam!</p>
<p>As you may have noticed, it's been a long time since I've posted.  The reason is simple: my old way of adding new posts was terribly manual and prone to error.  I copy/pasted the HTML of an old post, pasted in new content, renamed the file, redid the &ldquo;Previous&rdquo; and &ldquo;Next&rdquo; links, etc.  Needless to say, I got tired of doing this and so stopped posting.  I decided that what I needed was an automated process for adding new content.</p>

<p>Thus, I began my journey to rearchitect the site.  I knew that there were existing solutions out there, but I wanted to write the framework myself, thinking that this would be very educational.  As it turns out, it was educational, but not really in the way I expected.</p>

<p>I started by creating a Scala project in IntelliJ and proceeded to write code.  About 40 hours of work and a few months later, here I am.  As I got about 30 hours in, I realized I had made some <strong>serious</strong> mistakes.  There was no way it should be taking me this much time.  The first clue came when I tried running a simple version against some test posts.  Nothing worked.  What went wrong?</p>

<p>As I stepped back from the problem, it all became perfectly clear: I had broken one of my basic rules for writing software:</p>

<blockquote><i>Write tests as you go.</i></blockquote>

<p>How had I allowed this to happen?  I had fallen victim to the classic trap of believing that what I was doing was &ldquo;simple enough&rdquo; that I didn't need to.  And yes, <strong>some</strong> software is simple enough that you don't need to, but as my code started becoming somewhat complex, I should have immediately stopped and set everything straight.  But I pressed on, and here I am with a really crumby chunk of code.  It's <strong>usable</strong>, but not <strong>reusable</strong>.  Since I didn't write tests as I went, my API is an emergent property of my implementation choices.  Ick.</p>

<p>So what did I learn?  I learned that I, Dave, at least at the level of coding maturity I currently possess, really should stick to doing test-driven development.</p>

<p>I guess that's all for now.  Now that I have a more convenient method for adding content, I'm much more motivated to start posting again.  Stay tuned...</p>