            <p>This site is intended to help motivate me to do more.  The hope is that mentioning my projects and providing updates will force me to follow through on them.  It's a strange idea.  Why would I need the threat of public shame to do the things I want to do?</p>

            <p>There are so many fun projects I have lined up: creating a homemade sous vide, showing how to make limoncello, there's a neat idea for a video game I'd like to write, creating a slick homebrewing setup in the basement, etc.  These are all really exciting projects, and I'd love to share them.  So why haven't I?  I've been thinking about this problem quite a bit recently, so let me start off the site by sharing my thinking.</p>

            <p>Of course, I started with the most obvious answer: "I'm too busy."  Am I?  The most trite response is "Well, everyone has the same number of hours in the day."  Yes, barring <a href="https://en.wikipedia.org/wiki/Time_dilation">relativistic effects</a>, this is true.  But it isn't very helpful.  Usually, this comment is made in reference to some all-time accomplished person such as Einstein.  Well, I'm not an Einstein, and that's OK.</p>

            <p>But maybe this Einstein analogy isn't so useless after all.  While he may have had the same number of hours in the day, I'll bet he spent most of them on his work, which is the reason any of us have actually heard of him.  Maybe I am too busy, but not by having too much I <em>have</em> to do, but by having too much I'm <em>trying</em> to do.  So let's put on our management hats, look at all of the tasks in flight, force rank them, and rationalize the work.  Translation from management speak to English: list everything I'm spending time on, decide which ones are the most important, and do those.</p>

            <hX>Stuff I'm currently doing in no particular order:</hX>
            <ul>
              <li>Working (at work)</li>
              <li>Writing blogs/presentations for work (not strictly necessary for the job)</li>
              <li>Spending time with my wife</li>
              <li>Maintaining the house</li>
              <li>Training/playing with the dog</li>
              <li>Making this website</li>
              <li>Playing with new software (languages, libraries, frameworks, etc.)</li>
              <li>Watching sports</li>
              <li>Having a social life</li>
              <li>Cooking</li>
            </ul>

            <p>This is by no means a comprehensive list, but with the exception of watching sports, these are all things I REALLY want to keep doing, and it's clearly a lot.  This is really hard; maybe I'll revisit it later.  But while the exercise of formally ranking my priorities and living accordingly might be really productive, I think there might be a bigger problem at work: the Blerch.</p>

            <p>If you haven't heard of the Blerch before, stop reading this stupid post and <a href="http://theoatmeal.com/comics/running">check it out</a>.  As it says, </p>

            <blockquote>The Blerch represents all forms of gluttony, apathy, and indifference that plague my life.</blockquote>  
            <p>It's a sentiment that I think we can all relate to.  I think my real problem is that all of the things I want to do take work, and it's just too easy to sit on the couch, open a beer, and turn on the TV (or some other Blerchy behavior).  Eating potato chips and watching the James Bond marathon is rewarding <em>now</em>, but creating something is rewarding <em>later</em>.  Even though I'll be happier in the end doing the work, it just isn't the most convenient means of happiness.  I guess this is really what this site is about: making me realize when I'm trading convenience for happiness.</p>

            <p>I hope it works.</p>